{% extends "base.html" %}

{% block title %}LaTeX Editor{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card bg-dark text-light mb-3">
            <div class="card-header">Documents</div>
            <div class="card-body">
                <ul class="list-group list-group-flush bg-dark">
                    {% for file in files %}
                    <li class="list-group-item bg-dark text-light">{{ file.filename }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <button class="btn btn-outline-light w-100" id="newDocBtn">New Document</button>
    </div>
    <div class="col-md-9">
        <div class="card bg-dark text-light mb-3">
            <div class="card-header">
                <input type="text" class="form-control bg-dark text-light" id="documentTitle" placeholder="Document Title">
            </div>
            <div class="card-body">
                <textarea class="form-control bg-dark text-light" id="latexEditor" rows="15">{{ main_file.content }}</textarea>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline-light" id="saveBtn">Save</button>
                <button class="btn btn-outline-light" id="compileBtn">Compile</button>
            </div>
        </div>
        <div class="card bg-dark text-light">
            <div class="card-header">PDF Preview</div>
            <div class="card-body">
                <div id="pdfPreview" style="height: 500px; overflow-y: auto;"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_body %}
<script>


</script>
{% endblock %}